.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textWrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.home_text {
  max-width: 300px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home_date {
  cursor: pointer;
  color: rgb(24, 144, 255);
}