/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ck.ck-content:not(.ck-comment__input *) {
  height: 100%;
  overflow-y: auto;
}

.ck.ck-editor__main>.ck-editor__editable {
  border-color: 'none'
}

.ant-list-vertical .ant-list-item-meta {
  border-bottom: 1px dashed #f0f0f0;
}

.anticon-ellipsis {
  width: 30px;
  height: 16px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: black;
  padding: 5px 0;
  background-clip: content-box;
}

.anticon-ellipsis>svg {
  display: none !important;
}